In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mplsoccer.pitch import Pitch
from mplsoccer import Radar, FontManager
import numpy as np
from sklearn.cluster import KMeans

In [24]:
df = pd.read_csv('fbrefPoss82.csv')

df['Player'] = df['Player'].str.split('\\').str[0]
df['Age'] = df['Age'].str.split('-').str[0]
df = df.drop(columns=['Nation'])
df = df.drop(columns=['Born'])
df = df.drop(columns=['Matches'])
df.head()

,Rk,Player,Pos,Squad,Age,90s,Touches,Def Pen,Def 3rd,Mid 3rd,...,PrgDist,Prog,carriesin_3rd,CPA,Mis,Dis,Targ,Rec,Rec%,Prog.1
0,1,Max Aarons,DF,Norwich City,22,20.9,1209,95,449,515,...,2612,118,38,8,16,20,767,692,90.2,29
1,2,Che Adams,FW,Southampton,25,11.4,388,20,63,166,...,392,17,6,4,29,26,504,254,50.4,71
2,3,Rayan Aït Nouri,DF,Wolves,20,10.0,669,34,243,248,...,1195,64,10,7,14,18,425,374,88.0,26
3,4,Kristoffer Ajer,DF,Brentford,23,9.3,473,52,219,211,...,859,26,9,0,9,4,234,206,88.0,9
4,5,Nathan Aké,DF,Manchester City,26,6.5,549,40,192,321,...,1406,47,9,0,2,1,446,426,95.5,1

In [41]:
dfclust = df[['Player', 'Pos', 'Live','Succ%','PrgDist','Rec%']]
dfclust = dfclust.dropna()
dfclust.head()

            Player Pos  Live  Succ%  PrgDist  Rec%
0       Max Aarons  DF   998   45.5     2612  90.2
1        Che Adams  FW   380   38.5      392  50.4
2  Rayan Aït Nouri  DF   564   57.9     1195  88.0
3  Kristoffer Ajer  DF   411   77.8      859  88.0
4       Nathan Aké  DF   530    0.0     1406  95.5

In [45]:
X = np.array(dfclust[['Live','Succ%','PrgDist','Rec%']])
kmeans = KMeans(n_clusters = 10, random_state=100)
kmeans.fit(X)
dfclust['cluster'] = kmeans.predict(X)
dfclust.head()

            Player Pos  Live  Succ%  PrgDist  Rec%  cluster
0       Max Aarons  DF   998   45.5     2612  90.2        2
1        Che Adams  FW   380   38.5      392  50.4        1
2  Rayan Aït Nouri  DF   564   57.9     1195  88.0        5
3  Kristoffer Ajer  DF   411   77.8      859  88.0        3
4       Nathan Aké  DF   530    0.0     1406  95.5        5

In [46]:
dfclust.cluster.value_counts()

6    95
1    68
5    65
3    61
0    61
7    27
9    18
2    15
8     7
4     1
Name: cluster, dtype: int64